body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.form-div2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}
.input-text {
  box-shadow: rgba(0, 128, 0, 0.671) 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  width: 120px;
  height: 30px;
  position: relative;
  border-radius: 3px;
  padding: 5px 5px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  transition: all 0.2s ease;
}
.input-text:hover {
  border: 2px solid blue;
}
.input-text:focus {
  background: #fff;
  outline: 0;
  border: 2px solid gold;
}
.button-6 {
  align-items: center;
  background-color: #aff6ff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: gold;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  height: 50px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  width: auto;
}

.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:focus{
  background-color: black;
  color: white;
}

.button-6{
  background-color: rgba(0, 0, 255, 0.849);
  border: 2px solid rgba(255, 0, 0, 0.89);
  box-shadow: 2px 2px rgba(0, 128, 0, 0.884);
}

.button-6:hover {
  transform: translateY(-1px);
  background-color: blue;

}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.continer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.opacity-0 {
  width: 100px;
}

div {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: 70px;
}

.div-submit {
  transition: all ease 50ms;
  color: rgb(85, 161, 136);
  font-size: 12px;
  text-align: left;
}

.border-red {
  background-color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

td {
  height: 30px;
  width: 80px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
th {
  height: 30px;
  padding: 10px;
  background: linear-gradient(80deg, blue, blueviolet, black);
  border: 2px solid rgba(255, 0, 0, 0.89);
  box-shadow: 2px 2px rgba(0, 128, 0, 0.884);;
  color: white;
  width: 80px;
  text-align: center;
  border-radius: 7px;
}
thead {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
thead > tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
tbody{
  display: flex;
  flex-direction: column;
}
tbody > tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box {
  position: relative;
  width: 200px;
  display: flex;
  justify-content: center;
  position: absolute;
}
.fas {
  position: relative;
  top: 10px;
  left: 120px;
  color: black;
}
.input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
.box:hover input {
  width: 350px;
  background: #3b3640;
  border-radius: 10px;
}